<!DOCTYPE html>
<html>
<head>  

  <link rel="stylesheet" href="css/style.css">

<script type="text/javascript">
window.onload = function () {
   // For a bar graph
var chart = new Chart(ctx, {
   type: 'bar',
   data: {
      labels: ['CapeTown', 'Delft', 'Bellville', 'Khayelitsha', 'Gugulethu'],
      datasets: [{
         data: [{{open}}, {{booked}}],
         backgroundColor: 'rgba(0,119, 220, 0.2)'
      }]
   },
   options: {
      pieceLabel: {
         render: 'value' //show values
      }
   }
});
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
</head>
<body>
    
    <canvas id="ctx"></canvas>
</body>
</html>