<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <h2>Driver's Availability</h2>
    <form action="/availability" method="POST">
<div><input type="checkbox" id="checkboxAv" name="checkBoxDriver" value="true"> <label for="checkBoxDriver">Available</label></div>


 <label for="destination" class="label-2">Start :</label>
            <select name="start" id="location-select">
                <!-- <option value="">----choose an option----</option> -->
                <option value="C">Cape Town</option>
                <option value="K">Khayelitsha</option>
                <option value="D">Delft</option>
                <option value="G">Gugulethu</option>
                <option value="MP">Mitchells Plain</option>

            </select>
            <br />
            <br/>

            <label for="destination" class="label-2">End :</label>
            <select name="end" id="passenger-select">
                <!-- <option value="">----choose an option----</option> -->
                <option value="K">Khayelitsha</option>
                <option value="C">Cape Town</option>
                <option value="D">Delft</option>
                <option value="G">Gugulethu</option>
                <option value="MP">Mitchells Plain</option>

            </select>
            <br/>
            <br/>
<input type="submit" value="Confirm">
       
</form>
</body>

</html>