<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        window.onload = function () {
            // For a pie chart
            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Open seats', 'Booked seats'],
                    datasets: [{
                        data: [{{ open }}, {{ booked }}],
                backgroundColor: 'rgba(204,153,0,0.2)',
                
            }]
   },
            options: {
            pieceLabel: {
                render: 'value' //show values
            }
        }
});
}
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
</head>

 <a href="/"><input type="submit" value="Home"></a>

<body>

    <canvas id="ctx"></canvas>
    <br />
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Booking Successful!
    </div>
    {{!-- <div class="alerttwo">
  <span class="closebtntwo" onclick="this.parentElement.style.display='none';">&times;</span>
  Booking Not Successful!
</div> --}}
    <br />
    <p class="pricecount">Price: R{{price}}</p>
</body>

</html>