<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

    <h1>Taxi Booking App</h1>
   
    <h4>Please select your category!</h4>

    <div>
       
    <form action="/driver" method="POST">
        <button>Driver</button>
    </div>
     
    </form>
    <br>
    <div>
        <form action="/passenger" method="POST">
        <button>Passenger</button></div>
        </form>
    <br/>
    <div>
        <form action="/available" method="POST">
        <button>Taxi association</button>
        </form>
    </div>
</body>

</html>