<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taxi Queue Solution</title>

    <!--link css files-->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <h1><span>Passengers</span> details!</h1>
        <br />
        <div class="row">
            <label for="username" class="passengerName">Passenger name:</label>
            <input type="text" id="name" name="name" value="" size="14">
            <br />
            <br />
            <label for="destination" class="label-2">Start destination:</label>
            <select name="location" id="styled-select">

                <option value="Cape Town">Cape Town</option>
                <option value="Khayelitsha">Khayelitsha</option>
                <option value="Delft">Delft</option>
                <option value="Gugulethu">Gugulethu</option>
                <option value="Mitchells Plain">Mitchells Plain</option>

            </select>
            <br />
            <br />

            <label for="destination" class="label-2">End destination:</label>
            <select name="passenger" id="styled-select">

                <option value="Cape Town">Cape Town</option>
                <option value="Sea Point">Sea Point</option>
                <option value="Century City">Century City</option>
                <option value="Claremont">Claremont</option>
                <option value="Bellville">Bellville</option>

            </select>
            <br />
            <br />
            <label for="destination" class="label-2">Departing Time:</label>
            <select name="passenger" id="styled-select">

                <option value="07:00-09:00am">07:00-09:00am</option>
                <option value="09:00-11:00am">09:00-11:00am</option>
                <option value="13:00-15:00am">13:00-15:00am</option>

            </select>
            <br/>
            <br/>

            <form action="/checkout" method="POST" class="myButton">
                <input type="submit" name="btnConfirm" id="" value="Submit">
            </form>
            <p class="pricecount">Price:</p>
            <!-- <script>
                var currentTime = new Date().toLocaleTimeString()
            </script> -->
        </div>
    </div>
</body>

</html>