<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taxi Queue Solution</title>

    <!--link css files-->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <form action="/checkout" method="POST">

        <div class="container">
            <h1><span>Passengers</span> details!</h1>
            <br />
            <div class="row">
                <label for="username" class="passengerName">Passenger name:</label>
                <input type="text" required id="styled-select" name="name" value="">
                <br />
                <br />
                <label for="destination" class="label-2">Start destination:</label>
                <select name="startP" required id="styled-select">

                    <option value="Cape Town">Cape Town</option>
                    <option value="Khayelitsha">Khayelitsha</option>
                    <option value="Delft">Delft</option>
                    <option value="Gugulethu">Gugulethu</option>
                    <option value="Mitchells Plain">Mitchells Plain</option>

                </select>
                <br />
                <br />

                <label for="destination" class="label-2">End destination:</label>
                <select required name="endP" id="styled-select">
                    <!-- <option value="">----choose an option----</option> -->
                    <option value="Khayelitsha">Khayelitsha</option>
                    <option value="Cape Town">Cape Town</option>
                    <option value="Delft">Delft</option>
                    <option value="Gugulethu">Gugulethu</option>
                    <option value="Mitchells Plain">Mitchells Plain</option>

                </select>
                <br />
                <br />
                <label for="destination" class="label-2">Departing Time:</label>
                <select required name="passenger" id="styled-select">

                    <option value="07:00-09:00am">07:00-09:00am</option>
                    <option value="09:00-11:00am">09:00-11:00am</option>
                    <option value="13:00-15:00am">13:00-15:00am</option>

                </select>
                <br />
                <br />
                <div class="myButton">

                    <input type="submit" required name="btnConfirm" id="" value="Confirm">

    </form>

    <!-- <script>
                var currentTime = new Date().toLocaleTimeString()
            </script> -->
    </div>
    </div>
</body>

</html>