body{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0 0px;
    box-sizing: border-box;
    background-color:#444343 ;
    font-size: large;
}
/* button{
width: 7em;
} */
label {
    display: inline-block;
    /* font: 0.9rem 'Fira Sans', sans-serif; */
    color: #fff;
}

.passengerName{
    padding-left: 1em;
    /* font-size: 1rem; */
}

h1 span{
    color: lightgreen;
}

select {
    /* font-size: 0.9rem; */
    padding: 2px 5px;
}

.label-2 {
    /* font-size: 1rem; */
    /* padding-right: 10px; */
}

h4{
    color: lightgreen;
}

h1{
    color:lightgray ;
}

p{
    color: #f1bf59;
}

input[type="submit"]{
    box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid;
      background-color: transparent;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      height: 38px;
      padding: 0 30px;
      letter-spacing: .1rem;
      white-space: nowrap;
      color: lightgoldenrodyellow;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 38px;
      margin: 0;
      background-color:#696969;
width: auto;
     
}
h1,h2,h3,h4{
    display: inline-block;
}
input[type="submit"]:hover{
 background-color:  lightseagreen; 
 color: black ; 
}

.container{
    /* padding-left: 2em;
    padding-right: 2em;
 border: 1px solid black; */
}