body{
    /* position: relative;
    width: 300px;
    height: 300px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
<<<<<<< HEAD
    background-color:#444343 ;
    font-size: large;
=======
    
>>>>>>> 6842771c64d9109b6259ca71bed453131bdc8a9a
}
select{width: 7 em;}
/* button{
width: 7em;
} */
label {
    display: inline-block;
    font: 0.9rem 'Fira Sans', sans-serif;
    color: #fff;
}

h1,h2 span{
    color: lightgreen;
}

/* select {
    font-size: 0.9rem;
    padding: 2px 5px;
} */

.label-2 {
    font-size: 1rem;
}
p{
    color: #f1bf59;
}

input[type="submit"]{
    box-sizing: border-box;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid;
      background-color: transparent;
      text-decoration: none;
      box-shadow: lightseagreen;
      text-transform: uppercase;
      display: inline-block;
      height: 38px;
      padding: 0 30px;
      letter-spacing: .1rem;
      white-space: nowrap;
      color: lightgoldenrodyellow;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 38px;
      margin: 0;
      background-color:#72A793;

     
}
<<<<<<< HEAD
h1,h2,h3,h4{
    display: inline-block;
}
input[type="submit"]:hover{
 background-color:  lightseagreen; 
=======

input[type="submit"]:hover{
 background-color: lightseagreen; 
>>>>>>> 6842771c64d9109b6259ca71bed453131bdc8a9a
 color: black ; 
}

.container{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 350px;
   background-color:#394f55 ;
   color: white;
   padding: 40px;
}

body, 
.piechart { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.myButton {
    margin-left:115px;;
}

#timeCount{
    position:absolute;
    top: 12px;
    right:0;
}

#styled-select{
    width: 129px; 
}
